# ===== dependencies =====
node_modules/
.pnpm-store/

# ===== build =====
dist/
build/
.cache/

# ===== logs =====
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== env =====
.env
.env.*

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/
